snippet main
	static void Main(string[] args)
	{
		${1}
	}
snippet i
	using ${1:System};
	${2}
snippet p
	Console.WriteLine("${1}");${2}
snippet rl
	Console.ReadLine()${1}
snippet t
	true${1}
snippet f
	false${1}
snippet n
	null${1}
snippet pu
	public ${1}
snippet pr
	private ${1}
snippet cl
	class ${1}
