snippet im
	@import url("$1");
snippet ce
	text-align: center;
snippet bg
	background-color: ${1:red};
snippet bo
	border: solid ${1:red} 1px;
snippet co
	color: ${1:red};
snippet ma
	margin: ${1:0};
snippet pa
	padding: ${1:0};
snippet left
	text-align: left;
snippet right
	text-align: right;
snippet wi
	width: ${1:100%};
snippet he
	height: ${1:100px};
snippet lh
	line-height: ${1};
snippet cl
	clear: both;
snippet fl
	float: ${1:left};

